<div class="container">
  <div class="panel panel-default col-sm-4 panel-sign-up">
    <div class="panel-body">
      <a class=" col-sm-12 text-right"> I'm a customer</a>
      <h1 for="inputPassword" class="control-label">Create account</h1>
      <form class="form-horizontal col-sm-12 " role="form">
        <div class="form-group">
          <label class="control-label">Your name</label>
          <input class="form-control" id="focusedInput" type="text">
        </div>
        <div class="form-group">
          <label class="control-label">Email</label>
          <input class="form-control" id="focusedInput" type="text">
        </div>
        <div class="form-group">
          <label for="inputPassword" class="control-label">Password</label>
          <input class="form-control" id="form-control" type="text" placeholder="At least 6 characters">
          <small for="inputPassword" class="control-label">Passwords must be at least 6 characters.</small>
        </div>
        <div class="form-group">
          <label class="control-label">Re-enter password</label>
          <input class="form-control" id="focusedInput" type="text">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-default col-sm-12">Next</button>
        </div>
        <div class="form-group">
          <label>Already have an account? </label> <a> Sign-In</a>
        </div>
      </form>
    </div>
  </div>
</div>
<app-emart-main-footer></app-emart-main-footer>