<app-emart-main-navigator></app-emart-main-navigator>
<div class="emart-main-container container">
    <div class="row">
        <label>Shopping Cart</label>
    </div>
    <hr>
    <div class="row">
            <div class="table-responsive">
                <table class="table  table-striped emart-result-table">
                  <tbody>
                    <tr>
                      <td>Sumsung Galaxy S10e</td>
                      <td>$545.99</td>
                      <td><input></td>
                      <td><a>Delete</a></td>
                    </tr>
                    <tr>
                      <td>Sumsung Galaxy S6</td>
                      <td>$199.99/td>
                        <td><input></td>
                        <td><a>Delete</a></td>
                    </tr>
                    <tr>
                      <td>Huawei P30 Lite</td>
                      <td>$219.99</td>
                      <td><input></td>
                      <td><a>Delete</a></td>
                    </tr>
                    <tr>
                      <td>Sumsung Galaxy S10e</td>
                      <td>$545.99</td>
                      <td><input></td>
                      <td><a>Delete</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
    </div>
    <div>
        <div class="form-group">
          <label class="control-label">Total Tax:</label>
          <label class="control-label">$599.99</label>
        </div>
        <div class="form-group">
          <label class="control-label">Total Price:</label>
          <label class="control-label">$599.99</label>
        </div>
    </div>
    <div class="form-group">
      <button type="button" class=" btn btn-default btn-emart">Add to Shopping Cart</button>

      <button type="button" class=" btn btn-default btn-emart">Buy Now</button>
    </div>
</div>
<app-emart-main-footer></app-emart-main-footer>