<div class="container">
  <div class="panel panel-default col-sm-8 panel-sign-up">
    <div class="panel-body">
      <a class=" col-sm-12 text-right" routerLink="/signup-customer"> I'm a customer</a>
      <h1 for="inputPassword" class="control-label">Create account</h1>
      <form class="form-horizontal col-sm-12 " role="form">
        <div class="row">
          <div class="form-group col-sm-5">
            <label class="control-label">Business address</label>
            <input class="form-control" id="focusedInput" type="text">
          </div>
          <div class="col-sm-2"></div>
          <div class="form-group col-sm-5">
            <label class="control-label">GTSIN</label>
            <input class="form-control" id="focusedInput" type="text">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-5">
            <label class="control-label">Business name</label>
            <input class="form-control" id="focusedInput" type="text">
          </div>
          <div class="col-sm-2"></div>
          <div class="form-group col-sm-5">
            <label class="control-label">Bank name</label>
            <input class="form-control" id="focusedInput" type="text">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-5">
            <label class="control-label">Website URL</label>
            <input class="form-control" id="focusedInput" type="text">
          </div>
          <div class="col-sm-2"></div>
          <div class="form-group col-sm-5">
            <label class="control-label">Bank number</label>
            <input class="form-control" id="focusedInput" type="text">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-5">
            <label class="control-label">Telephone number</label>
            <input class="form-control" id="focusedInput" type="text">
          </div>
          <div class="col-sm-2"></div>
          <div class="form-group col-sm-5">
            <label class="control-label">Company brief</label>
            <input class="form-control" id="focusedInput" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
          </div>
          <div class="form-group col-sm-6">
            <button type="button" class="btn btn-default col-sm-12">Create your Emart account</button>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
        <div class="form-group">
          <label>Already have an account? </label> <a  routerLink="/signin"> Sign-In</a>
        </div>
      </form>
    </div>
  </div>
</div>
<app-emart-main-footer></app-emart-main-footer>