    .emart-main-carouse{
        margin-bottom: 50px;

    }
    .carouse-item-img {
        margin: auto;
    }
    
    .emart-main-category {
        margin-bottom: 50px;
    }

    .btn-emart{
        margin-bottom: 30px;
    }