<app-emart-seller-navigator></app-emart-seller-navigator>
<div class="emart-main-container container">
  <div class="col-xs-3" id="myScrollspy">
      <ul class="nav nav-tabs nav-stacked emart-nav-tabs" id="myNav">
          <li><a href="/emart-view-stock">View Stock</a></li>
          <li class="active"><a href="/emart-add-item">Add Item</a></li>
      </ul>
  </div>
  <div class="col-sm-9">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputPassword" class="control-label">Category</label>
        <input class="form-control" id="form-control" type="text" >
      </div>
      <div class="form-group">
        <label for="inputPassword" class="control-label">Subcategory</label>
        <input class="form-control" id="form-control" type="text" >
      </div>
      <div class="form-group">
        <label for="inputPassword" class="control-label">Item name</label>
        <input class="form-control" id="form-control" type="text" >
      </div>
      <div class="form-group">
        <label for="inputPassword" class="control-label">Price</label>
        <input class="form-control" id="form-control" type="text" >
      </div>
      <div class="form-group">
        <label for="inputPassword" class="control-label">Amount of stock</label>
        <input class="form-control" id="form-control" type="text" >
      </div>
      <div class="form-group">
        <label for="inputfile">Pictures</label>
        <input type="file" id="inputfile">
      </div>
      <div class="form-group">
        <label for="inputPassword" class="control-label">Description</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <div class="form-group">
        <button type="button" class=" btn btn-default btn-emart">Save & Sell Item</button>
      </div>
    </form>
  </div>
</div>